---
# Configuration globale pour Prysma
InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true       
  TypeNameLimit: 25

SemanticTokens:
  Enabled: true

CompileFlags:
  Add: 
    - "-fno-rtti"
    - "-std=c++17"
    - "-Wall"
    - "-Wextra"
    - "-fcolor-diagnostics"
  CompilationDatabase: build

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Suppress: ["bugprone-narrowing-conversions"]
  ClangTidy:
    Add: 
      - bugprone-*
      - cppcoreguidelines-*
      - modernize-*
      - performance-*
      - readability-*
    Remove: 
      - readability-magic-numbers
      - modernize-use-trailing-return-type
    CheckOptions:
      readability-identifier-naming.VariableCase: camelCase

Hover:
  ShowAKA: true

Completion:
  AllScopes: true

---
# Configuration spécifique pour les Tests
If:
  PathMatch: Tests/.*
CompileFlags:
  CompilationDatabase: Tests/build