#ifndef {{ class_name | upper }}_H
#define {{ class_name | upper }}_H

#include <iostream>
#include <string>

class {{ class_name }} {
private:
    {% for member in class_members %}
    {{ member }};
    {% endfor %}

public:
    {{ class_name }}();
    {{ class_name }}({{ constructor_params }}); 
    ~{{ class_name }}();

    // Méthodes
    {% for method in methods %}
    {{ method }};
    {% endfor %}
};

#endif // {{ class_name | upper }}_H