#include "{{ class_name | lower }}.hpp"

{{ class_name }}::{{ class_name }}() : {{ constructor_init_list }} {}

{{ class_name }}::{{ class_name }}({{ constructor_params }}) : {{ constructor_init_list }} {}

{{ class_name }}::~{{ class_name }}() {}

{{ methods_impl }}