#ifndef VISITEUR_DESTRUCTION_H
#define VISITEUR_DESTRUCTION_H

#include "compiler/visitor/visitor_base_generale.h"
#include "compiler/ast/ast_genere.h"

class VisitorDestruction : public VisitorBaseGenerale
{
public:
{% for nom in nodes %}
    void visiter(Node{{ nom }}* node) override {
        VisitorBaseGenerale::visiter(node);
        node->~Node{{ nom }}();
    }
{% endfor %}
};

#endif
